.name
{
    border-right: solid 4px;
    width: max-content;
    animation: typing 1s steps(5) forwards infinite alternate;
    overflow: hidden;
}

header{
    justify-content: center;
    border-bottom: solid 3px;
    position: fixed;
    top: 0;
    width: 100%;
}
 .content{
    padding-top: 100px;
    overflow: hidden;
}
@keyframes typing {
    0%
    {
        width: 0;
    }
    100%
    {
        width: 7em;
    }
    
}