.nameOut
{
    text-align: center;
    animation: typing 2s infinite alternate;
    width: 100%;
    overflow: hidden;

}

@keyframes typing {
    from
    {
        width: 0%;
    }
    to{
        width: 100%;
    }
    
}